.container {
  margin: auto;
  width: 50%;
  padding: 20px;
  text-align: center;
}

#modal-container {
  display: none;
}

#modal-container.is-visible {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  overflow: auto;
  display: grid;
  text-align: center;
}

.button-class {
  display: block;
  width: 90%;
  border: none;
  background-color: #04AA6D;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #500B95;
  border-radius: 150px;
}

.button-class:hover {
  background-color: #ddd;
  color: black;
}

.pokemon-list {
  list-style-type: none;
}

/* Responsive Styling */
@media screen and (max-width: 600px) {
  .container {
    width: 80%;
  }

  .button-class {
    width: 100%;
  }
}
