h1 {
  background-color: white;
  color: lightseagreen;
  height: 50px;
  margin-bottom: 10px;
}

p {
  background-color: white;
  color: gray;
  height: 50px;
  margin-bottom: 10px;
}

.button-class {
  background-color: lightcyan;
  border: 2px solid blue;
  color: rgb(42, 93, 165);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

/* Centered image styles */
.icon-container {
  text-align: center;
  padding-top: 20px; /* Adjust as needed */
}

.icon-container img {
  width: 400px; /* Adjust as needed */
  height: 200px; /* Adjust as needed */
  display: inline-block;
}
