{
    "env": {
        "es6": true,
        "browser": true,
        "node": true
    },
    "extends": [
        "eslint:recommended"
    ],
    "rules": {
        "quotes": ["error", "single"]
        // Add more rules as needed
    }
}
